@use '../../../styles/variables' as *;

.quote-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  padding: $section-spacing 1.5rem;
  background-color: rgba(0, 19, 37, 0.6); // effetto ghiaccio traslucido
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: $radius;
  margin: 2rem auto $section-spacing;
  margin-bottom: 10rem;
  max-width: 1000px;
  overflow: hidden;
  text-align: center;
}

.quote {
  position: absolute;
  max-width: 900px;
  margin: 0;
  font-family: $font-heading;
  font-size: clamp(1.3rem, 4vw, 2rem);
  font-weight: 700;
  color: $text-invert; // ora è bianco
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  line-height: 1.4;
  letter-spacing: 0.4px;
}

.quote.visible {
  opacity: 1;
  transform: translateY(0);
}
